# Top 10 Data Analyst Jobs In Bangalore Location

In [1]:
#install selenium

In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\poovi\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\poovi\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\poovi\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\poovi\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: attrs>=19.2.0 in c:\users\poovi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sortedcontainers in c:\users\poovi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\poovi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\poovi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: outcome in c:\users\poovi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: idna in c:\users\poovi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in c:\users\poovi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\poovi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\poovi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\poovi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\poovi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\poovi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\poovi\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\poovi\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\poovi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [3]:
#importing libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [4]:
#connecting to webdriver
driver = webdriver.Chrome(r"C:\web driver\chromedriver.exe")

In [5]:
#opening naukri.com in automated chrome window
driver.get("https://www.naukri.com/")

In [6]:
#finding element for designation search bar
search_field_designation = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input")
search_field_designation.send_keys("Data Analyst")

In [7]:
#finding element for location bar
search_field_location = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_field_location.send_keys("Bangalore")

In [8]:
#clicking on search button
search_button = driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_button.click()

In [9]:
job_title = []
company_name = []
location_tag = []
experience_tag = []

In [10]:
#extract all tags having job title
title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [11]:
#now the text of the job title is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
for i in title[:10]:
    titles=i.text
    job_title.append(titles)

In [12]:
#extract all tags having company name
name = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [13]:
#now the text of the company name is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
for i in name[:10]:
    names = i.text
    company_name.append(names)

In [14]:
#extract all tags having experience
experience = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")

In [15]:
#now the text of the experience is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.

for i in experience[:10]:
    experiences = i.text
    experience_tag.append(experiences)

In [16]:
#extract all tags having loaction
location = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

In [17]:
#now the text of the location is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
for i in location[:10]:
    locations = i.text
    location_tag.append(locations)

In [18]:
print(len(job_title),len(company_name),len(location_tag),len(experience_tag))

10 10 10 10

In [19]:
#Dataframe
jobs = pd.DataFrame({})
jobs['title'] = job_title
jobs['company'] = company_name
jobs['location'] = location_tag
jobs['experience required'] = experience_tag

In [20]:
jobs

,title,company,location,experience required
0,Senior Data Analyst,Thomson Reuters,Bangalore/Bengaluru,2-4 Yrs
1,Data Analyst- customer facing,Synamedia,Bangalore/Bengaluru,0-3 Yrs
2,Sr Data Analyst II,IHS Markit,"Gurgaon/Gurugram, Bangalore/Bengaluru",3-6 Yrs
3,Business analyst + data Analysis,Anlage Infotech (I) Pvt. Ltd.,"Hyderabad/Secunderabad, Bangalore/Bengaluru",5-10 Yrs
4,Data Analyst,VOLVO ASSET FINANCE INDIA PRIVATE LIMITED,Bangalore/Bengaluru,2-4 Yrs
5,Hiring For Data Analyst with SAP ABAP & BW - C...,MILLION MINDS INFOTECH PRIVATE LIMITED,Bangalore/Bengaluru,7-10 Yrs
6,Senior Business Analyst - Data Sciences and Ad...,Vmware,Bangalore/Bengaluru,3-7 Yrs
7,Business and Data Analyst,CAREERDOST ENTERPRISE,Bangalore/Bengaluru,0-5 Yrs
8,Senior Data Analyst | Lululemon,TALENT500 TECH (INDIA) PRIVATE LIMITED,Bangalore/Bengaluru,5-8 Yrs
9,Urgent hiring For Senior Data Analyst,upGrad,Bangalore/Bengaluru,2-7 Yrs

In [21]:
#closing webdriver
driver.close()

# Scraping Top 10 Data Scientist Job in Bangalore Location

In [22]:
#connecting to webdriver
driver = webdriver.Chrome(r"C:\web driver\chromedriver")

In [23]:
#opening naukri.com in automated chrome window
driver.get("http://www.naukri.com/")

In [24]:
#finding element for designation field
search_field_designation = driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys("Data Scientist")

In [25]:
#finding element for location filed
search_field_location = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_field_location.send_keys("Bangalore")

In [26]:
#clicking on search button
search_button = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [27]:
job_title = []
company_name = []
location_tag = []

In [28]:
#extrcat all tags having job title
title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [29]:
#now the text of the job title is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
for i in title[:10]:
    titles = i.text
    job_title.append(titles)

In [30]:
#extract all tags having company name
company = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [31]:
#now the text of the company name is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
for i in company[:10]:
    companies = i.text
    company_name.append(companies)

In [32]:
#extracting all tags having location
location = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

In [33]:
#now the text of the job title is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
for i in location[:10]:
    locations = i.text
    location_tag.append(locations)

In [34]:
#dataframe
jobs = pd.DataFrame({})
jobs['Job Title'] = job_title
jobs['Company Name'] = company_name
jobs['Location'] = location_tag

In [35]:
jobs

,Job Title,Company Name,Location
0,Senior Data Scientist,Fractal Analytics,Bangalore/Bengaluru
1,Data Scientist: Advanced Analytics,IBM,Bengaluru/Bangalore
2,Data Scientist,VISA,Bangalore/Bengaluru
3,Data Scientist: Artificial Intelligence,IBM,Bangalore/Bengaluru
4,Data Scientist: Artificial Intelligence,IBM,Bengaluru/Bangalore
5,Data Scientist: Artificial Intelligence,IBM,Bengaluru/Bangalore
6,Data Scientist: Artificial Intelligence,IBM,Bengaluru/Bangalore
7,"Data Scientist, Machine Learning (AIML)",Fractal Analytics,Bangalore/Bengaluru
8,Sr. Data Scientist,HUDSON'S BAY SERVICES PRIVATE LIMITED,Bangalore/Bengaluru
9,Lead Data Scientist,TransOrg Solutions Services (P) Ltd.,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."

In [37]:
driver.close()

#  Scraping First 10 Data Scientist Job in Delhi/NCR location with 3-6lakhs salary

In [39]:
#connecting to webdriver
driver =  webdriver.Chrome(r"C:\web driver\chromedriver")

In [40]:
#opening naukri.com in automated chrome window
driver.get("http://www.naukri.com/")

In [41]:
#finding element for job destination bar
find_job_designation = driver.find_element_by_class_name("suggestor-input ")
find_job_designation.send_keys("Data Scientist")

In [42]:
#clicking search button
search_button = driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [44]:
#filtering location option
location_button = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/p/span[1]")
location_button.click()

In [45]:
#filtering salary option
salary_button = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]")
salary_button.click()

In [46]:
#extracting all tag having job title
title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_title = []
#now the text of the job title is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
for i in title[0:10]:
    titles = i.text
    job_title.append(titles)
len(job_title)

10

In [47]:
#extracting all tag having company name
company = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_name = []
#now the text of the comapny is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
for i in company[0:10]:
    companies = i.text
    company_name.append(companies)
len(company_name)

10

In [48]:
#extracting all tag having job experience
experience = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
job_experience = []
#now the text of the job experience is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
for i in experience[0:10]:
    experiences = i.text
    job_experience.append(experiences)
len(job_experience)

10

In [49]:
#extracting all tag having job location
location = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
job_location = []
#now the text of the job location is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
for i in location[0:10]:
    locations = i.text
    job_location.append(locations)
len(job_location)

10

In [50]:
#dataframe
jobs = pd.DataFrame({})
jobs['Job Title'] = job_title
jobs['Company Name'] = company_name
jobs['Experience'] = job_experience
jobs['Location'] = job_location
jobs

,Job Title,Company Name,Experience,Location
0,Data Scientist,Ashkom Media India Private Limited,3-6 Yrs,"Noida, Bangalore/Bengaluru"
1,Data Scientist || Software Company || Immediat...,Skyleaf Consultants,3-8 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
2,Associate Data Scientist,Optum,1-5 Yrs,Gurgaon/Gurugram
3,Associate Scientist - Data Engineering,AXA Technology Services India Pvt. Ltd,2-5 Yrs,Gurgaon/Gurugram
4,Data Scientist,BlackBuck,3-7 Yrs,"Gurgaon, Bengaluru"
5,Hiring For Data Analyst and Data Scientist For...,Shadow Placements,3-7 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR"
6,Data Scientist (freelance),2Coms,2-7 Yrs,"New Delhi, Delhi"
7,Data Scientist,Country Veggie,1-3 Yrs,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu..."
8,"Data Scientist/ Machine Learning, 2022 Passout...",Creative Hands HR Consultancy,0-4 Yrs,"Hyderabad/Secunderabad, Pune, Chennai, Delhi /..."
9,Data Scientists,Nibha Infotech Private Limited,5-8 Yrs,Gurgaon/Gurugram

In [51]:
#closing web driver
driver.close()

#  Scraping First 100 sunglasses list on flipkart.com

In [79]:
#connecting to webdriver
driver = webdriver.Chrome(r"C:\web driver\chromedriver")

In [80]:
#opening flipkart in automated chrome window
driver.get("http://www.flipkart.com/")

In [81]:
#clicking on close button
close_button = driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
close_button.click()

In [82]:
#finding element to search product
search_product = driver.find_element_by_class_name("_3704LK")
search_product.send_keys("Sunglasses")

In [83]:
#clicking searcg button
search_button = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [88]:
brand_name =[]
#using range function to run multiple pages
for i in range(0,3):
    brand = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
#now the text of the brand name is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
    for i in brand:
        brands = i.text
        brand_name.append(brands)
        if (len(brand_name)>=100):
            break;

In [89]:
len(brand_name)

100

In [91]:
product_description = []
#using range function to run multiple pages
for i in range(0,3):
    description = driver.find_elements_by_xpath("//div[@class='_2B099V']/a[1]")
#now the text of the description is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
    for i in description:
        descriptions = i.text
        product_description.append(descriptions)
        if(len(product_description)>=100):
            break;

In [92]:
len(product_description)

100

In [93]:
product_price=[]
#using range function to run multiple pages
for i in range(0,3):
    price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
#now the text of the product price is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.    
    for i in price[:100]:
        price = i.text
        product_price.append(price)
        if(len(product_price)>=100):
            break;

In [94]:
len(product_price)

100

In [95]:
offer = []
#using range function to run multiple pages
for i in range(0,3):
    offer_tag = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
#now the text of the offer price is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.    
    for i in offer_tag[0:100]:
        offers = i.text
        offer.append(offers)
        if(len(offer)>=100):
            break;

In [96]:
len(offer)

100

In [97]:
#dataframe
product = pd.DataFrame({})
product['brand name'] = brand_name
product['product description'] = product_description
product['product price'] = product_price
product['offer'] = offer

In [98]:
product

,brand name,product description,product price,offer
0,Arnette,Others Rectangular Sunglasses (56),"₹4,199",49% off
1,BAJERO,"UV Protection, Polarized, Riding Glasses Retro...","₹1,273",84% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹719,20% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,20% off
4,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹639,20% off
...,...,...,...,...
95,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹664,77% off
96,SRPM,UV Protection Wayfarer Sunglasses (50),₹249,80% off
97,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹639,20% off
98,Fastrack,UV Protection Aviator Sunglasses (58),"₹1,099",15% off
99,Arnette,Mirrored Rectangular Sunglasses (63),"₹3,449",49% off

In [64]:
driver.close()

# Scraping first 100 reviews of iphone--flipkart

In [303]:
#opening web driver
driver = webdriver.Chrome(r"C:\web driver\chromedriver")

In [304]:
#opening flipkart in automated chrome window
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.")

In [305]:
#clicking on close button to close login page
button = driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div/span')
button.click()

In [306]:
ratings=[]
#using range function to run multiple pages
for i in range(0,10):
    rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
#now the text of the ratings is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.    
    for i in rating[0:100]:
        rating_t = i.text
        ratings.append(rating_t)
#clicking on next button        
    next_button = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(5)

In [307]:
len(ratings)

100

In [308]:
review_summary = []
#using range function to run multiple pages
for i in range(0,10):
    review = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
#now the text of the review_summary is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.    
    for i in review[0:100]:
        reviews = i.text
        review_summary.append(reviews)
#click on next button        
    next_button = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(5)

In [309]:
len(review_summary)

100

In [311]:
full_review = []
for i in range(0,10):
    full = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
#now the text of the full_review is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.   
    for i in full[:100]:
        full_reviews = i.text
        full_review.append(full_reviews)
#click on next button        
    next_button = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(5)

In [313]:
len(full_review)

100

In [314]:
#dataframe
reviews = pd.DataFrame({})
reviews['Rating'] = ratings
reviews['Review Summary'] = review_summary
reviews['Full Review'] = full_review

In [315]:
reviews

,Rating,Review Summary,Full Review
0,5,Pretty good,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Excellent,Really satisfied with the Product I received.....
2,5,Super!,Great iPhone very snappy experience as apple k...
3,5,Best in the market!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,4,Nice,"Works seamlessly, I get an avg 1.5 days batter..."
96,5,Simply awesome,I was using iPhone 6s from a long time and I’v...
97,5,Excellent,Osm & fabulous phone..just upgraded from iPhon...
98,5,Mind-blowing purchase,Thanx Flipkart giving fast delivery with genui...
99,5,Highly recommended,Just the display held it from being a 5star ph...

In [316]:
#close driver
driver.close()

# Scraping First 100 Sneakers on Flipkart

In [4]:
#opening web driver
driver = webdriver.Chrome("C:\web driver\chromedriver")

In [5]:
#opening flipkart on automated chrome window
driver.get("http://www.flipkart.com/")

In [6]:
#enter sneakers in the search bar
search_product = driver.find_element_by_class_name("_3704LK")
search_product.send_keys("Sneakers")

In [7]:
#click on close to close login page
close_button = driver.find_element_by_xpath('/html/body/div[2]/div/div/button')
close_button.click()

In [8]:
#click on search button
search_button = driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [9]:
brand = []
#range function is used to run multiple pages
for i in range(0,3):
    brands = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
#now the text of the brand is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.    
    for i in brands[0:100]:
        brand_t = i.text
        brand.append(brand_t)
        if(len(brand)>=100):
            break;
#click on next page
    next_button = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(5)

In [10]:
len(brand)

100

In [13]:
product_description = []
#range function is used to run multiple pages
for i in range(0,11):
    description = driver.find_elements_by_xpath("//a[@class='IRpwTa _2-ICcC']")
#now the text of the product_description is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
    for i in description:
        p_description = i.text
        product_description.append(p_description)
        if(len(product_description)>=100):
            break;
#click on next page
    next_button = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()
    time.sleep(5)

In [14]:
len(product_description)

100

In [15]:
product_price = []
#range function is used to run multiple pages
for i in range(0,3):
    prices = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
#now the text of the product price is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.    
    for i in prices[0:100]:
        price = i.text
        product_price.append(price)
        if(len(product_price)>=100):
            break;
#click on next page
    next_button = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
    next_button.click()

In [16]:
len(product_price)

100

In [24]:
#dataframe
product = pd.DataFrame({})
product['brand'] = brand
product['product description'] = product_description
product['product price'] = product_price

In [25]:
product

,brand,product description,product price
0,Roadster,Sneakers For Men,"₹2,887"
1,RapidBox,NY 92 STRIPES Sneakers For Men,₹769
2,URBANBOX,Men's Streetwear Pro Style High Top Platform F...,₹474
3,BRUTON,Canvas Sneaker Sneakers For Men,₹749
4,corsac,CPM-1193 Sneakers For Men,"₹1,648"
...,...,...,...
95,CAMPUS,Sneakers For Men,₹439
96,PUMA,Sneakers For Men,"₹1,650"
97,CALCADOS,white sport shoes for mens Sneakers For Men,₹459
98,bacca bucci,RC3513 001 Sneakers For Men,"₹1,912"
99,HRX by Hrithik Roshan,White Sneaker For Men Sneakers For Men,₹859

In [26]:
#closing webdriver
driver.close()

# Scraping first 100 shoes with black color and price range 7.4k to 14k -- Myntra

In [27]:
#opening webdriver
driver = webdriver.Chrome("C:\web driver\chromedriver")

In [28]:
#opening myntra on automated chrome window
driver.get("http://www.myntra.com/shoes")

In [31]:
#filter price option
search_price = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
search_price.click()

In [30]:
#filter color option
search_color = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")
search_color.click()

In [33]:
shoe_brand = []
#range function is used to run multiple pages
for i in range(0,2):
    brand = driver.find_elements_by_xpath("//h3[@class='product-brand']")
#now the text of the shoe_brand is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
    for i in brand[0:100]:
        brands = i.text
        shoe_brand.append(brands)
#click on next button
    next_button = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]")
    next_button.click()
    time.sleep(5)

In [34]:
len(shoe_brand)

100

In [35]:
shoe_description = []
#range function is used to run multiple pages
for i in range(0,2):
    description = driver.find_elements_by_xpath("//h4[@class='product-product']")
#now the text of the shoe_description is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
    for i in description[0:100]:
        descriptions = i.text
        shoe_description.append(descriptions)
#click on next button
    next_button = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]")
    next_button.click()
    time.sleep(5)

In [36]:
len(shoe_description)

100

In [38]:
shoe_price = []
for i in range(0,2):
    price = driver.find_elements_by_xpath("//div[@class='product-price']")
#now the text of the shoe_price is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
    for i in price[0:100]:
        prices = i.text
        shoe_price.append(prices)
#click on next button
    next_button = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]")
    next_button.click()
    time.sleep(5)

In [39]:
len(shoe_price)

100

In [40]:
#dataframe
shoes = pd.DataFrame({})
shoes['Brand'] = shoe_brand
shoes['Description'] =shoe_description
shoes['Price'] =shoe_price
shoes

           Brand                    Description      Price
0           ALDO      Men Woven Design Sneakers  Rs. 13999
1           ALDO      Men Leather Driving Shoes  Rs. 12999
2   UNDER ARMOUR    Men Vantage 2 Running Shoes   Rs. 7999
3   UNDER ARMOUR  Men Charged Rouge 3 Run Shoes   Rs. 7999
4           ALDO            Men Leather Loafers  Rs. 12999
..           ...                            ...        ...
95  UNDER ARMOUR   Women Charged Breeze Running  Rs. 13990
96       Bugatti   Men Black Formal Derby Shoes   Rs. 8999
97        Clarks             Men Leather Derbys   Rs. 9499
98       Saint G      Men Leather Chelsea Boots   Rs. 8999
99     J.FONTINI      Men Black Leather Loafers  Rs. 11999

[100 rows x 3 columns]

In [41]:
#closing webdriver
driver.close()

# Scraping First 10 Laptops with i7 processor -- Amazon

In [203]:
#opening webdriver
driver = webdriver.Chrome("C:\web driver\chromedriver")

In [204]:
#opening amazon in automated chrome window
driver.get("http://www.amazon.in/")

In [205]:
#extracting tag to enter search_product
search_product = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search_product.send_keys("Laptop")

In [206]:
#extracting tag to click search button
search_button = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_button.click()

In [208]:
#extracting tags to filter i7 core processor
i7_button = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[12]/span/a/span")
i7_button.click()

In [209]:
#extracting tags having laptop title
title = driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
laptop_title = []
#now the text of the laptop_title is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
for i in title[0:10]:
    titles = i.text
    laptop_title.append(titles)

In [210]:
len(laptop_title)

10

In [211]:
#extractin tags having rating
rating = driver.find_elements_by_xpath("//span[@class='a-icon-alt']")
laptop_rating = []
#now the text of the laptop_rating is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
for i in rating[0:10]:
    ratings = i.text
    laptop_rating.append(ratings)
len(laptop_rating)

10

In [212]:
#extracting tags having price
price = driver.find_elements_by_xpath("//span[@class='a-price-whole']")
laptop_price = []
#now the text of the laptop_price is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
for i in price[0:10]:
    prices = i.text
    laptop_price.append(prices)
len(laptop_price)

10

In [215]:
#dataframe
laptop = pd.DataFrame({})
laptop['Title'] = laptop_title
laptop['Ratings'] = laptop_rating
laptop['Price'] = laptop_price
laptop

                                               Title Ratings     Price
0  MSI Modern 14, Intel i7-1195G7, 14" FHD IPS-Le...            76,490
1  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...            84,590
2  Mi Notebook Ultra 3.2K Resolution Display Inte...            77,990
3  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....            86,990
4  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...            57,490
5  Samsung Galaxy Book2 Intel 12th Gen core i7 Ev...            79,990
6  HP Pavilion 14, 11th Gen Intel Core i7-16GB RA...            86,990
7  LG Gram Intel Evo 11th Gen Core i7 17 inches U...            93,999
8  HP Pavilion x360 11th Gen Intel Core i7 14 inc...            85,890
9  LG Gram 16 inches Intel Evo 11th Gen Core i7 U...          1,01,112

In [116]:
#closing webdriver
driver.close()

# Fist 10 Data Scientist Jobs in Noida --- Ambition Box

In [2]:
#opening webdriver
driver = webdriver.Chrome("C:\web driver\chromedriver")

In [3]:
#opening ambitionbox in automated chrome page
driver.get("http://www.ambitionbox.com/")

In [6]:
#extracting tag to search jobs
search_jobs = driver.find_element_by_xpath("//a[@class='link jobs']")
search_jobs.click()

In [7]:
#extracting tag to search designation
search_designation = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
search_designation.send_keys('Data Scientist')

In [8]:
#extracting tag to click on search button
search_button = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span")
search_button.click()

In [9]:
#extracting tag to click location option
location_button = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p")
location_button.click()

In [11]:
#extracting tag to search location
search_location = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
search_location.send_keys('Noida')

In [13]:
#extracing tag to click on location
select_location = driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
select_location.click()

In [16]:
#extracting tags having company name 
company = driver.find_elements_by_xpath("//p[@class='company body-medium']")
company_name = []
#now the text of the company_name is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
for i in company[0:10]:
    companies = i.text
    company_name.append(companies)
len(company_name)

10

In [17]:
#extracting tags having number of days ago jobs posted
day = driver.find_elements_by_xpath("//div[@class='other-info']/span[1]")
job_posted = []
#now the text of how many days ago job has posted is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
for i in day[0:10]:
    days = i.text
    job_posted.append(days)
len(job_posted)

10

In [18]:
#extracting tags having ratings
rating  = driver.find_elements_by_xpath("//span[@class='body-small']")
job_ratings = []
#now the text of the job ratings is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
for i in rating[0:10]:
    ratings = i.text
    job_ratings.append(ratings)
len(job_ratings)

10

In [20]:
#dataframe
jobs = pd.DataFrame({})
jobs['Company Name'] = company_name
jobs['No of Days ago job posted'] = job_posted
jobs['Ratings'] = job_ratings
jobs

,Company Name,No of Days ago job posted,Ratings
0,EXL Services.com ( I ) Pvt. Ltd.,8d ago,3.9
1,GENPACT India Private Limited,20d ago,4.0
2,TECHNIP GLOBAL BUSINESS SERVICES PRIVATE LIMITED,6d ago,3.9
3,GENPACT India Private Limited,1mon ago,4.0
4,Bristlecone India Limited,15d ago,3.8
5,Zyoin,19d ago,4.1
6,Ashkom Media India Private Limited,6d ago,3.7
7,Newgen Software Technologies Ltd.,21d ago,3.5
8,JK Technosoft Ltd,30d ago,3.7
9,Pitney Bowes India Pvt Ltd,1mon ago,4.2

In [21]:
#close webdriver
driver.close()

# Ambition Box --- Salary of Data Scientist Designation

In [309]:
#opening webdriver
driver = webdriver.Chrome("C:\web driver\chromedriver")

In [310]:
#opening ambitionbox in automated chrome page
driver.get("http://www.ambitionbox.com/")

In [311]:
#clicking on salary button
salary_button = driver.find_element_by_xpath("//a[@class='link salaries']")
salary_button.click()

In [312]:
#extracting tag to search for designation
search_designation = driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
search_designation.send_keys("Data Scientist")

In [313]:
#clicking on data scientist option
select_designation = driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p")
select_designation.click()

In [315]:
company_name =[]
company = driver.find_elements_by_xpath("//div[@class='name']/a")
#now the text of the company is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
for i in company[0:10]:
    companies = i.text
    company_name.append(companies)
len(company_name)

10

In [317]:
salary_records = []
record = driver.find_elements_by_xpath("//div[@class='name']/span")
#now the text of the salary_records is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
for i in record[0:10]:
    records = i.text
    salary_records.append(records)
len(salary_records)

10

In [318]:
average_salary = []
avg = driver.find_elements_by_xpath("//p[@class='averageCtc']")
#now the text of the average_salary is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
for i in avg[0:10]:
    average = i.text
    average_salary.append(average)
len(average_salary)

10

In [319]:
minimum_salary = []
minimum = driver.find_elements_by_xpath("//div[@class='salary-values']/div[1]")
#now the text of the minimun_salary is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
for i in minimum[0:10]:
    min_sal = i.text
    minimum_salary.append(min_sal)
len(minimum_salary)

10

In [320]:
maximum_salary = []
#now the text of the maximun_salary is inside the tags extracted above.
#so we will run a loop to iterate over the tags extracted above and extract the text inside them.
maximum = driver.find_elements_by_xpath("//div[@class='salary-values']/div[2]")
for i in maximum[0:10]:
    max_sal = i.text
    maximum_salary.append(max_sal)
len(maximum_salary)

10

In [322]:
#dataframe
salary = pd.DataFrame({})
salary['Company Name'] = company_name
salary['Salary Records'] = salary_records
salary['Average Salary'] = average_salary
salary['Minimum Salary'] = minimum_salary
salary['Maximum Salary'] = maximum_salary
salary

,Company Name,Salary Records,Average Salary,Minimum Salary,Maximum Salary
0,Walmart,based on 11 salaries,₹ 29.7L,₹ 25.0L,₹ 35.0L
1,Ab Inbev,based on 32 salaries,₹ 20.5L,₹ 15.0L,₹ 25.5L
2,Reliance Jio,based on 10 salaries,₹ 18.9L,₹ 5.6L,₹ 26.2L
3,ZS,based on 15 salaries,₹ 15.9L,₹ 9.8L,₹ 20.0L
4,Optum,based on 27 salaries,₹ 15.2L,₹ 11.0L,₹ 22.0L
5,Fractal Analytics,based on 81 salaries,₹ 15.2L,₹ 9.5L,₹ 22.0L
6,Tiger Analytics,based on 46 salaries,₹ 14.8L,₹ 9.0L,₹ 20.0L
7,UnitedHealth,based on 53 salaries,₹ 14.0L,₹ 8.3L,₹ 20.5L
8,Verizon,based on 14 salaries,₹ 12.7L,₹ 10.0L,₹ 21.0L
9,Ganit Business Solutions,based on 13 salaries,₹ 12.4L,₹ 8.5L,₹ 15.0L

In [323]:
#closing webdriver
driver.close()